@media (max-width: 768px) {

	::-webkit-scrollbar {
		width: 3px;
		height: 2px;
		display: block;
	}

	::-webkit-scrollbar-track {     
		background: #fff;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	}

	::-webkit-scrollbar-thumb {
		background-color: #6c757d;
		border-radius:10px;
	}
	/*Navbar*/
	.navbar .container .navbar-left{
		flex-direction: column;
	}

	.navbar-custom{
		flex-direction: column;
	}

	.navbar-custom .navbar-nav .nav-item{
		margin: 0px !important;
	}

	.navbar-search{
		display: none;
		position: fixed;
	}

	.navbar-search.show{
		position: fixed;
		display: none;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(100%);
		z-index: 1;
	}

	.navbar-profile.collapse{
		position: absolute !important;
		width: 100%;
		left: 0;
		right: 0;
		z-index: -1;
		border-radius: 10px;
		box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
		-webkit-box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
		-moz-box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
		overflow: hidden;
	}

	.navbar-profile.collapse.show{
		display: none;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 1;
		transform: translateY(100%);
		overflow: hidden;
		background-color: white;
		padding: 10px;
	}

	.float-start-mobile{
		float: left !important;
	}

	.sidebar-button{
		display: none;
	}

	.navbar-logo{
		width: 50vw;
	}

	.google-logo{
		width: 0.6rem;
	}

	.schedule{
		width: 950px;
	}

	.navbar-toggler-custom {
		padding: 0.25rem 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		transition: box-shadow 0.15s ease-in-out;
		display: block;
	}

	.dash{
		display: none;
	}

	/*Footer*/
	footer .container-fluid{
		flex-direction: column;
	}
	footer .footer-left{
		flex-direction: column;
	}

	/*Text*/
	.text-3k5rem{
		font-size: 10vw;
	}

	.text-start-mobile{
		text-align: left !important;
	}

	.text-center-mobile{
		text-align: center !important;
	}

	/*flex*/
	.d-flex-mobile{
		display: flex; !important;
	}

	.align-items-center-mobile{
		align-items: baseline !important;
	}

	.justify-content-center-mobile{
		justify-content: center !important;
	}

	.justify-content-end-mobile{
		justify-content: flex-end !important;
	}

	.justify-content-start-mobile{
		justify-content: flex-start !important;
	}

	.flex-column-mobile{
		flex-direction: column !important;
	}

	.flex-row-mobile{
		flex-direction: row !important;
	}

	/*Font size*/
	.fs-mobile-1 {
		font-size: calc(1.375rem + 1.5vw) !important;
	}

	.fs-mobile-2 {
		font-size: calc(1.325rem + 0.9vw) !important;
	}

	.fs-mobile-3 {
		font-size: calc(1.3rem + 0.6vw) !important;
	}

	.fs-mobile-4 {
		font-size: calc(1.275rem + 0.3vw) !important;
	}

	.fs-mobile-5 {
		font-size: 1.25rem !important;
	}

	.fs-mobile-6 {
		font-size: 1rem !important;
	}

	.fs-mobile-7 {
		font-size: 0.8rem !important;
	}

	.fs-mobile-8 {
		font-size: 0.6rem !important;
	}

	.triangle{
		height: 18px;
	}

	.triangle-sm{
		height: 18px;
	}

	.triangle-left::before{
		border-top: solid 13px transparent;
		border-bottom: solid 13px transparent;
	}

	.triangle-left-sm::before{
		border-top: solid 11px transparent;
		border-bottom: solid 11px transparent;
	}

	.triangle-left-xs::before{
		border-top: solid 11px transparent;
		border-bottom: solid 11px transparent;
	}

	/*Overflow*/
	.overflow-y-scroll-mobile{
		overflow-y: scroll !important;
		overflow-x: hidden !important;
	}

	.overflow-x-scroll-mobile{
		overflow-x: scroll !important;
		overflow-y: hidden !important;
	}



	/*Padding*/
	.pbm-0{
		padding-bottom: 0px !important;
	}
	/**/

	/*View Height*/
	.vh-mobile-100{
		height: 100vh !important;
	}

	.vh-mobile-90{
		height: 90vh !important;
	}

	.vh-mobile-80{
		height: 80vh !important;
	}

	.vh-mobile-60{
		height: 60vh;
	}

	.vh-mobile-50{
		height: 50vh;
	}

	.vh-mobile-40{
		height: 40vh;
	}

	.vh-mobile-30{
		height: 30vh;
	}

	.vh-mobile-20{
		height: 20vh;
	}

	.vh-mobile-10{
		height: 10vh;
	}

	.vh-mobile-5{
		height: 5vh;
	}

	/*Margin*/
	.mt-mobile-0 {
		margin-top: 0 !important;
	}

	.mt-mobile-1 {
		margin-top: 0.25rem !important;
	}

	.mt-mobile-2 {
		margin-top: 0.5rem !important;
	}

	.mt-mobile-3 {
		margin-top: 1rem !important;
	}

	.mt-mobile-4 {
		margin-top: 1.5rem !important;
	}

	.mt-mobile-5 {
		margin-top: 3rem !important;
	}

	.me-mobile-0 {
		margin-top: 0 !important;
	}

	.me-mobile-1 {
		margin-top: 0.25rem !important;
	}

	.me-mobile-2 {
		margin-top: 0.5rem !important;
	}

	.me-mobile-3 {
		margin-top: 1rem !important;
	}

	.me-mobile-4 {
		margin-top: 1.5rem !important;
	}

	.me-mobile-5 {
		margin-top: 3rem !important;
	}

	.ms-mobile-0 {
		margin-left: 0 !important;
	}

	.ms-mobile-1 {
		margin-left: 0.25rem !important;
	}

	.ms-mobile-2 {
		margin-left: 0.5rem !important;
	}

	.ms-mobile-3 {
		margin-left: 1rem !important;
	}

	.ms-mobile-4 {
		margin-left: 1.5rem !important;
	}

	.ms-mobile-5 {
		margin-left: 3rem !important;
	}

	.mb-mobile-0 {
		margin-bottom: 0 !important;
	}

	.mb-mobile-1 {
		margin-bottom: 0.25rem !important;
	}

	.mb-mobile-2 {
		margin-bottom: 0.5rem !important;
	}

	.mb-mobile-3 {
		margin-bottom: 1rem !important;
	}

	.mb-mobile-4 {
		margin-bottom: 1.5rem !important;
	}

	.mb-mobile-5 {
		margin-bottom: 3rem !important;
	}

	.mx-mobile-0 {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.mx-mobile-1 {
		margin-right: 0.25rem !important;
		margin-left: 0.25rem !important;
	}

	.mx-mobile-2 {
		margin-right: 0.5rem !important;
		margin-left: 0.5rem !important;
	}

	.mx-mobile-3 {
		margin-right: 1rem !important;
		margin-left: 1rem !important;
	}

	.mx-mobile-4 {
		margin-right: 1.5rem !important;
		margin-left: 1.5rem !important;
	}

	.mx-mobile-5 {
		margin-right: 3rem !important;
		margin-left: 3rem !important;
	}

	.my-mobile-0 {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.my-mobile-1 {
		margin-top: 0.25rem !important;
		margin-bottom: 0.25rem !important;
	}

	.my-mobile-2 {
		margin-top: 0.5rem !important;
		margin-bottom: 0.5rem !important;
	}

	.my-mobile-3 {
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}

	.my-mobile-4 {
		margin-top: 1.5rem !important;
		margin-bottom: 1.5rem !important;
	}

	.my-mobile-5 {
		margin-top: 3rem !important;
		margin-bottom: 3rem !important;
	}

	/*Padding*/
	.p-mobile-0 {
		padding: 0 !important;
	}

	.p-mobile-1 {
		padding: 0.25rem !important;
	}

	.p-mobile-2 {
		padding: 0.5rem !important;
	}

	.p-mobile-3 {
		padding: 1rem !important;
	}

	.p-mobile-4 {
		padding: 1.5rem !important;
	}

	.p-mobile-5 {
		padding: 3rem !important;
	}

	.py-mobile-1{
		padding-top: 0.25rem !important;
		padding-bottom: 0.25rem !important;
	}

	.px-mobile-0 {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.px-mobile-1 {
		padding-right: 0.25rem !important;
		padding-left: 0.25rem !important;
	}

	.px-mobile-2 {
		padding-right: 0.5rem !important;
		padding-left: 0.5rem !important;
	}

	.px-mobile-3 {
		padding-right: 1rem !important;
		padding-left: 1rem !important;
	}

	.px-mobile-4 {
		padding-right: 1.5rem !important;
		padding-left: 1.5rem !important;
	}

	.px-mobile-5 {
		padding-right: 3rem !important;
		padding-left: 3rem !important;
	}

	.py-mobile-0 {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.py-mobile-1 {
		padding-top: 0.25rem !important;
		padding-bottom: 0.25rem !important;
	}

	.py-mobile-2 {
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}

	.py-mobile-3 {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}

	.py-mobile-4 {
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}

	.py-mobile-5 {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}

	.pe-mobile-0 {
		padding-right: 0 !important;
	}

	.pe-mobile-1 {
		padding-right: 0.25rem !important;
	}

	.pe-mobile-2 {
		padding-right: 0.5rem !important;
	}

	.pe-mobile-3 {
		padding-right: 1rem !important;
	}

	.pe-mobile-4 {
		padding-right: 1.5rem !important;
	}

	.pe-mobile-5 {
		padding-right: 3rem !important;
	}

	/*Notification*/
	.notification-group{
		margin-top: 10px;
	}

	.notification-item{
		padding-right: 8px !important;
		padding-left: 8px !important;
	}

	.badge-notif[data-badge]:after {
		right: -10px;
	}

	/*Display*/
	.d-none-mobile{
		display: none !important;
	}

	.d-block-mobile{
		display: block !important;
	}

	/*Widht*/
	.w-mobile-75{
		width: 75% !important;
	}

	.w-mobile-90{
		width: 90% !important;
	}

	.w-mobile-100{
		width: 100% !important;
	}

	.w-vh-mobile-100{
		width: 100vh !important;
	}

	.w-vh-mobile-125{
		width: 125vh !important;
	}

	.w-vh-mobile-135{
		width: 135vh;
	}

	.w-vh-mobile-75{
		width: 75vh;
	}

	.w-mobile-8vw{
		width: 8vw !important;
	}

	.w-mobile-12vw{
		width: 12vw;
	}

	.vw-mobile-100{
		width: 100vw !important;
	}

	.vw-mobile-80{
		width: 80vw !important;
	}

	.vw-mobile-75{
		width: 75vw !important;
	}

	.vw-mobile-70{
		width: 70vw !important;
	}

	.vw-mobile-60{
		width: 60vw !important;
	}

	.vw-mobile-50{
		width: 50vw !important;
	}

	.vw-mobile-25{
		width: 25vw !important;
	}

	.vw-mobile-20{
		width: 20vw !important;
	}

	.vw-mobile-15{
		width: 15vw !important;
	}

	.vw-mobile-10{
		width: 10vw !important;
	}

	.vw-mobile-5{
		width: 5vw !important;
	}

	.position-absolute-mobile{
		position: absolute;
	}

	.bg-transparent-mobile{
		background-color: transparent !important;
	}

	.idp{
		display: none;
	}

	.idp.active{
		display: block;
	}

	.btn-collapse-custom{
		background-color: #6c757d;
		transition: 0.5s;
	}

	.btn-collapse-custom.active{
		background: rgb(225,127,54);
		background: linear-gradient(90deg, rgba(225,127,54,1) 0%, rgba(255,162,0,1) 100%);
	}

	.finalize-peer{
		background-color: #FF4E00 !important;
	}

	.finalize-peer.active{
		background-color: #6c757d !important;
	}

	.badge-img[data-badge]::before{
		content: attr(data-badge);
		font-size:.7em;
		background-color:#F59122;
		position: absolute;
		color:white;
		width:18px;
		height:18px;
		top: 8%;
		right: 8%;
		text-align:center;
		border-radius: 100%;
		padding: .1rem .4rem;
		align-items: center;
	}
/*
	.arrow-before::before {
		width: 0.5rem;
		height: 0.7em;
		margin-right: 2px;
	}*/

	.img-category{
		height: 50px;
	}

	.rounded-mobile-0px{
		border-radius: 0px !important;
	}

	.img-banner-row{
		position: relative;
	}

	.img-banner-row .col-6:first-child{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

	.img-banner-row .col-6:last-child{
		margin-left: auto;
	}

	.img-banner img{
		position: absolute;
		left: 0;
		bottom: 0;
		/*top: 0;*/
	}




}