@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
	font-family: 'Roboto', sans-serif;
}
.content{
	position: relative;

}

/*Background*/
.bg-gradient-orange{
	background: rgb(225,127,54);
	background: linear-gradient(90deg, rgba(225,127,54,1) 0%, rgba(255,162,0,1) 100%);
}

.bg-gradient-orange2{
	background: rgb(255,161,0);
	background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(239,133,57,1) 100%);
}

.bg-gradient-green{
	background: rgb(87,218,141);
	background: linear-gradient(90deg, rgba(87,218,141,1) 0%, rgba(129,228,120,1) 100%);
}

.bg-gradient-blue{
	background: rgb(100,185,212);
	background: linear-gradient(90deg, rgba(100,185,212,1) 0%, rgba(170,223,239,1) 100%);
}

.bg-gradient-red{
	background: rgb(227,59,85);
	background: linear-gradient(90deg, rgba(227,59,85,1) 0%, rgba(207,1,40,1) 100%);
}

.bg-orange{
	background-color: #F59122 !important;
}

.bg-old-orange{
	background-color: #FF4E00 !important;
}

.bg-grey{
	background-color: #F7F7F7 !important;
}

.bg-grey-table{
	background-color: #EBEBEB !important;
}

.bg-green{
	background-color: rgb(87,218,141);
}

.bg-grey-form{
	background-color: #F0F0F0 ;
}

.bg-old-blue{
	background-color: #4E51D4;
}

.bg-blue{
	background-color: #58B6FE;
}

.bg-red{
	
}


.bg-none{
	background-color: none;
}

/*form*/
.custom-form-control{
	border: none;
}

.form-focus-normal:focus{
	color: #212529;
	background-color: #fff;
	border-color: #ED8639;
	outline: 0;
	box-shadow: none !important;
}

.form-focus-bottom:focus{
	color: #212529;
	background-color: #fff;
	border-color: #ED8639;
	outline: 0;
	box-shadow: none !important;
	border-bottom: 2px solid #ED8639;
}

.custom-form-check-input:checked{
	border-color: #ED8639;
	background-color:#ED8639;
	box-shadow: none;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.check-input-white-orange{
	border-radius: 100%;
	background-color:#ED8639;
	box-shadow: none;
}

.check-input-white-orange:checked{
	background-color:#ED8639;
	box-shadow: none;
}

/*Navbar*/
.navbar-logo{
	width: 20vw;
}

/*Breadrumb*/
.breadcrumb .breadcrumb-item a{
	text-decoration: none;
	font-weight: bold;
	color: #41464E;
}

.breadcrumb .breadcrumb-item.active{
	color: #EC883A !important;
}

/*Border*/
.border-0{
	border: none;
}

.border-b-1{
	border-bottom: 1px solid #A1A1A1;
}

.border-bottom-orange{
	border-bottom: 2px solid #ED8639;
}

.border-white{
	border-color: white;
}

.border-orange{
	border-color:  #EC883A;
}

.border-black{
	border-color: black;
}

.border-w-0{
	border-bottom-width: 0px !important;
}

.border-rl-0{
	border-right: 0;
	border-left: 0;
}


/*Widht*/

.w-5vw{
	width: 5vw;
}

.w-8vw{
	width: 8vw;
}

.w-100vh{
	width: 100vh;
}

.w-80vh{
	width: 80vh;
}


/*Height*/

.vh-80{
	height: 80vh;
}

.vh-60{
	height: 60vh;
}

.vh-50{
	height: 50vh;
}

.vh-20{
	height: 20vh;
}

.vh-10{
	height: 10vh;
}

.vh-5{
	height: 5vh;
}

/*Card*/
.custom-card-footer{
	border: none;
}

/*text*/
.text-orange{
	color: #EC883A;
}

.text-grey{
	color: #828282;
}

.text-old-blue{
	color: #12475D;
}

.text-3k5rem{
	font-size: 3.5rem;
}

.text-blue{
	color: #58B6FE;
}

.text-green{
	color: rgb(87,218,141);
}

/*Font Size*/
.fw-5rem{
	font-size: 5rem;
}

/*Line height*/

.lh-2{
	line-height: 0.1rem;
}


/*Rounded*/
.rounded-0{
	border-radius: 0% !important;
}
.rounded-100{
	border-radius: 100%;
}

.rounded-5px{
	border-radius: 5px !important;
}

.rounded-10px{
	border-radius: 10px !important;
}

.rounded-25px{
	border-radius: 25px !important;
}

.rounded-r-25px{
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
}

.rounded-r-5px{
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.rounded-r-10px{
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.rounded-l-25px{
	border-top-left-radius: 25px !important;
	border-bottom-left-radius: 25px !important;
}

.rounded-l-5px{
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

.rounded-l-10px{
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.rounded-trl-10px{
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
}

.rounded-trl-25px{
	border-top-right-radius: 25px !important;
	border-top-left-radius: 25px !important;
}

.rounded-brl-25px{
	border-bottom-right-radius: 25px !important;
	border-bottom-left-radius: 25px !important;
}

.rounded-brl-10px{
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.rounded-brl-5px{
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

/*List*/
.list-style-type-dash{
	list-style-type: '- ';
}


/*landing page staff*/
.header-logo img{
	width: 100%;
}

.google-logo{
	width: 20px;
}

/*Login*/

.logo-login{
	width: 100%;
}

.card-login{
	background-color: transparent !important;
	border: none;
}

.card-shadow{
	box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
	-webkit-box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
	-moz-box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
}


.main-login{
	position: relative;
	height: 80vh;
	padding-top: 8vh;
}

.main-register{
	position: relative;
}

.body-login{
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/*Sidebar*/
.sidebar{
	position: relative;
}
.sidebar .sidebar-grup{
	position: relative;
}

.sidebar .sidebar-item{
	display: flex;
	align-items: center;
	padding: 0.7rem 1rem;
	text-decoration: none;
	background-color: transparent !important;
	border: none;
	border-radius: 6px;
	margin: 6px 0px;
	color: #fff;
}

.sidebar .sidebar-item.active{
	background-color: #fff !important;
	color: #EC883A !important;
	margin: 6px 0px;
}

.icon{
	font-size: 20px;
	padding: 0px 5px;
}

/*Job Portal Index*/
.section-head-index{
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*Topbar*/
.img-topbar{
	width: 35px;
	height: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.badge-notif {
	position:relative;
}

.badge-notif[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top:0px;
	right:-4px;
	font-size:.7em;
	background:#e53935;
	color:white;
	width:17px;
	height:17px;
	text-align:center;
	line-height:18px;
	border-radius: 50%;
}

.table > tbody > tr{
	
}

/*Button sidebar*/
.sidebar-button{
	position: absolute;
	left: 0;
}

/*Accordion*/

.accordion-button[data-badge]::after{
	content: attr(data-badge);
	font-size:.7em;
	background-color:white;
	color:#F59122;
/*	width:17px;
	height:17px;*/
	text-align:center;
	border-radius: 50%;
	padding: .2rem .9rem;
}

.badge-after[data-badge]::after{
	content: attr(data-badge);
	font-size:.7em;
	background-color:#F59122;
	color:white;
/*	width:17px;
	height:17px;*/
	text-align:center;
	border-radius: 100%;
	padding: .2rem .4rem;
	align-items: center;
}

.badge-after-square[data-badge]::after{
	content: attr(data-badge);
	font-size:.7em;
	background-color:#F59122;
	color:white;
	width:17px;
	height:17px;
	text-align:center;
	padding: .2rem .4rem;
	align-items: center;
}

/*Card*/


input[type="file"]{
	display: none;
}

.custom-select{
  cursor:pointer;
  caret-color:transparent;
}

.box-custom-select{
	/*position: absolute;*/
	right: 10px;
	left: 0;
}

.box-custom-select ul{
  /*position: absolute;*/
  background-color: white;
  width: 100%;
}

.box-custom-select ul li{
  margin:10px 0px;
  cursor: pointer;
}

.optWrapper.multiple{
	position: absolute !important;
	width: auto !important;
	z-index: -1;
}

.placeholder{
	font-style: normal !important;
}