@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media (min-width: 1400px) {
	.vh-over-125{
		height: 125vh;
	}

	.vh-over-100{
		height: 100vh;
	}

	.vh-over-90{
		height: 90vh;
	}

	.position-absolute-over{
		position: absolute;
	}
	/*footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}*/
}
*{
	font-family: 'Open Sans', sans-serif;
}

.content{
	position: relative;

}

.col-0k5{
	flex: 0 0 auto;
	width: 4.3%;
}

/*Background*/
.bg-gradient-orange{
	background: rgb(225,127,54);
	background: linear-gradient(90deg, rgba(225,127,54,1) 0%, rgba(255,162,0,1) 100%);
}

.bg-gradient-orange2{
	background: rgb(255,161,0);
	background: linear-gradient(90deg, rgba(255,161,0,1) 0%, rgba(239,133,57,1) 100%);
}

.bg-gradient-green{
	background: rgb(87,218,141);
	background: linear-gradient(90deg, rgba(87,218,141,1) 0%, rgba(129,228,120,1) 100%);
}

.bg-gradient-blue{
	background: rgb(100,185,212);
	background: linear-gradient(90deg, rgba(100,185,212,1) 0%, rgba(170,223,239,1) 100%);
}

.bg-gradient-red{
	background: rgb(227,59,85);
	background: linear-gradient(90deg, rgba(227,59,85,1) 0%, rgba(207,1,40,1) 100%);
}

.bg-orange{
	background-color: #F59122 !important;
}

.bg-old-orange{
	background-color: #FF4E00 !important;
}

.bg-grey{
	background-color: #F7F7F7 !important;
}

.bg-grey-table{
	background-color: #EBEBEB !important;
}

.bg-green{
	background-color: rgb(87,218,141);
}

.bg-grey-form{
	background-color: #F0F0F0 ;
}

.bg-old-blue{
	background-color: #4E51D4;
}

.bg-blue{
	background-color: #58B6FE;
}

.bg-blue-2{
	background-color: #53B7FF;
}

.bg-red{
	
}

.bg-tfooter-dark{
	background-color: #565656;
}

.btn-sidebar{
	background-color: #6c757d
}

.btn-sidebar.active{
	background: rgb(225,127,54);
	background: linear-gradient(90deg, rgba(225,127,54,1) 0%, rgba(255,162,0,1) 100%);
}


.bg-none{
	background-color: none;
}

/*Col*/
.col-01 {
	flex: 0 0 auto;
	width: 0.5%;
}


/*form*/
.custom-form-control{
	border: none;
}

.form-focus-normal:focus{
	color: #212529;
	background-color: #fff;
	border-color: #ED8639;
	outline: 0;
	box-shadow: none !important;
}

.form-focus-bottom:focus{
	color: #212529;
	background-color: #fff;
	border-color: #ED8639;
	outline: 0;
	box-shadow: none !important;
	border-bottom: 2px solid #ED8639;
}

.custom-form-check-input:checked{
	border-color: #ED8639;
	background-color:#ED8639;
	box-shadow: none;
}

.round {
	position: relative;
}

.round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}

.round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 5px;
	transform: rotate(-45deg);
	width: 12px;
}

.round input[type="checkbox"] {
	visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
	background-color: #66bb6a;
	border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.check-input-white-orange{
	border-radius: 100%;
	/*background-color:#ED8639;*/
	box-shadow: none;
}

.check-input-white-orange:checked{
	background-color:#ED8639;
	box-shadow: none;
}

/*Navbar*/
.navbar-logo{
	width: 20vw;
}

.navbar-toggler-custom {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: box-shadow 0.15s ease-in-out;
	display: none;
}

.navbar-search{
	position: relative;
}

.navbar-profile{
	flex-grow: 1;
	align-items: center;
}

/*.navbar-light .navbar-toggler-icon-custom {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}*/

/*Breadrumb*/
.breadcrumb .breadcrumb-item a{
	text-decoration: none;
	font-weight: bold;
	color: #41464E;
}

.breadcrumb .breadcrumb-item.active{
	color: #EC883A !important;
}

/*Border*/
.border-0{
	border: none;
}

.border-b-1{
	border-bottom: 1px solid #A1A1A1;
}

.border-bottom-orange{
	border-bottom: 2px solid #ED8639;
}

.border-white{
	border-color: white;
}

.border-orange{
	border-color:  #EC883A;
}

.border-black{
	border-color: black;
}

.border-w-0{
	border-bottom-width: 0px !important;
}

.border-rl-0{
	border-right: 0;
	border-left: 0;
}


/*Widht*/

.w-5vw{
	width: 5vw;
}

.w-6vw{
	width: 5rem;
}

.w-8vw{
	width: 8vw;
}

.w-130px{
	width: 130px;
}

.w-100vh{
	width: 100vh;
}

.w-80vh{
	width: 80vh;
}


/*Height*/

.min-vh-90{
	min-height: 90vh;
}

.vh-125{
	height: 125vh;
}
.vh-100{
	height: 100vh !important;
}

.vh-90{
	height: 90vh;
}

.vh-80{
	height: 80vh;
}

.vh-75{
	height: 75vh;
}

.vh-70{
	height: 70vh;
}

.vh-60{
	height: 60vh;
}

.vh-50{
	height: 50vh;
}

.vh-20{
	height: 20vh;
}

.vh-10{
	height: 10vh;
}

.vh-5{
	height: 5vh;
}

/*Vw*/
/*Height*/
.vw-100{
	width: 100vw !important;
}

.vw-80{
	width: 80vw;
}

.vw-75{
	width: 75vw;
}

.vw-70{
	width: 70vw;
}

.vw-60{
	width: 60vw;
}

.vw-50{
	width: 50vw;
}

.vw-25{
	width: 25vw;
}

.vw-20{
	width: 20vw;
}

.vw-15{
	width: 15vw;
}

.vw-10{
	width: 10vw;
}

.vw-5{
	width: 5vw;
}

/*Position*/
.left-0{
	left: 0;
}

.right-0{
	right: 0;
}

.bottom-0{
	bottom: 0;
}

.top-0{
	top: 0;
}

/*Display*/
.d-none-pc{
	display: none !important;
}



/*Card*/
.custom-card-footer{
	border: none;
}

/*text*/
.text-orange{
	color: #EC883A;
}

.text-grey{
	color: #828282;
}

.text-abu-icon{
	color: #D9D9D9;
}

.text-old-blue{
	color: #12475D;
}

.text-3k5rem{
	font-size: 3.5rem;
}

.text-blue{
	color: #58B6FE;
}

.text-green{
	color: rgb(87,218,141);
}

.text-justify{
	text-align: justify;
}

/*Font Size*/
.fw-5rem{
	font-size: 5rem;
}

/*Line height*/

.lh-2{
	line-height: 0.1rem;
}


/*Rounded*/
.rounded-0{
	border-radius: 0% !important;
}

.rounded-r-0{
	border-bottom-right-radius: 0px;
}
.rounded-100{
	border-radius: 100%;
}

.rounded-5px{
	border-radius: 5px !important;
}

.rounded-10px{
	border-radius: 10px !important;
}

.rounded-25px{
	border-radius: 25px !important;
}

.rounded-r-25px{
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
}

.rounded-r-5px{
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.rounded-r-10px{
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.rounded-l-25px{
	border-top-left-radius: 25px !important;
	border-bottom-left-radius: 25px !important;
}

.rounded-l-5px{
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

.rounded-l-10px{
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.rounded-trl-10px{
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
}

.rounded-trl-25px{
	border-top-right-radius: 25px !important;
	border-top-left-radius: 25px !important;
}

.rounded-brl-25px{
	border-bottom-right-radius: 25px !important;
	border-bottom-left-radius: 25px !important;
}

.rounded-brl-10px{
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.rounded-brl-5px{
	border-bottom-right-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

/*List*/
.list-style-type-dash{
	list-style-type: '- ';
}


/*landing page staff*/
.header-logo{
	padding-left: 5vw;
	padding-right: 5vw;
}

.img-category{
	height: 14vh;
}

.google-logo{
	width: 1rem;
}

.w-80{
	width: 83%;
}

/*Login*/

.logo-login{
	width: 100%;
}

.card-login{
	background-color: transparent !important;
	border: none;
}

.card-shadow{
	box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
	-webkit-box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
	-moz-box-shadow: 1px 15px 25px 3px rgba(0,0,0,0.42);
}


.main-login{
	position: relative;
	height: 80vh;
	padding-top: 4vh;
}

.main-register{
	/*position: relative;*/
}

.kotak{
	left: 0;
	right: 0;
	height: 100vh;
	width: 100%;
}

.body-login{
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/*Sidebar*/
.sidebar{
	position: relative;
}
.sidebar .sidebar-grup{
	position: relative;
}

.sidebar .sidebar-item{
	display: flex;
	align-items: center;
	padding: 0.7rem 1rem;
	text-decoration: none;
	background-color: transparent !important;
	border: none;
	border-radius: 6px;
	margin: 6px 0px;
	color: #fff;
}

.sidebar .sidebar-item.active{
	background-color: #fff !important;
	color: #EC883A !important;
	margin: 6px 0px;
}

.icon{
	font-size: 20px;
	padding: 0px 5px;
}

.icon-footer{
	width: 1.5rem;
	height: 1.5rem;
	margin: 0px 3px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Job Portal Index*/
.section-head-index{
	background-image: url('../img/section-head.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

/*Topbar*/
.img-topbar{
	width: 35px;
	height: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.badge-notif {
	position:relative;
}

.badge-notif[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top: 0;
	left: 55%;
	font-size:.7em;
	background:#e53935;
	color:white;
	width:17px;
	height:17px;
	text-align:center;
	line-height:18px;
	border-radius: 50%;
}

.table > tbody > tr{
	
}

/*Button sidebar*/
.sidebar-button{
	position: absolute;
	left: 0;
	margin-right: -100px;
}

/*Accordion*/

.accordion-button[data-badge]::after{
	content: attr(data-badge);
	font-size:.7em;
	background-color:white;
	color:#F59122;
/*	width:17px;
	height:17px;*/
	text-align:center;
	border-radius: 20%;
	padding: .2rem .9rem;
}

.data-badge{
	background-color:#F59122;
	width: 20px;
	height: 20px;
	font-size:.7em;
	color:white;
	text-align:center;
	border-radius: 100%;
	margin-left: 0.2rem;
	display: flex;
	align-items: center;
	position: absolute;
	right: -21px;
}

.data-badge span{
	position: absolute;
	align-items: center;
	padding: auto;
	right: 0;
	left: 0;
}

.badge-img{
	background-color:#F59122;
	width: 1.4rem;
	height: 1.4rem;
	font-size:.7em;
	color:white;
	text-align:center;
	border-radius: 100%;
	/*padding: 5px 9px;*/
	margin-left: 0.2rem;
	display: flex;
	align-items: center;
	position: absolute;
	right: 25px;
	top: 25px;
}

.badge-img span{
	position: absolute;
	align-items: center;
	padding: auto;
	right: 0;
	left: 0;
}


.badge-after[data-badge]::after{
	content:attr(data-badge);
	font-size:.7em;
	background-color:#F59122;
	color:white;
	text-align:center;
	border-radius: 100%;
	padding: 5px 8px;
	align-items: center;
	margin-left: 0.2rem;
}

.badge-after-square[data-badge]::after{
	content: attr(data-badge);
	font-size:.7em;
	background-color:#F59122;
	color:white;
	width:17px;
	height:17px;
	text-align:center;
	padding: .2rem .4rem;
	align-items: center;
}

.isFloating{
	display: none;
}

/*Card*/

input[type="file"]{
	display: none;
}

.custom-select{
/*	*/cursor:pointer;
caret-color:transparent;
}

.box-custom-select{
	/*position: absolute;*/
	right: 10px;
	left: 0;
}

.box-custom-select ul{
	/*position: absolute;*/
	background-color: white;
	width: 100%;
}

.box-custom-select ul li{
	margin:10px 0px;
	cursor: pointer;
}

.optWrapper.multiple{
	position: absolute !important;
	width: auto !important;
	z-index: -1;
}

.placeholder{
	font-style: normal !important;
}

.triangle{
	height: 30px;
}

.triangle-sm{
	height: 27px;
}

.triangle-left-green::before{
	border-right: solid 18px rgb(87,218,141);
}

.triangle-left-secondary::before{
	border-right: solid 18px #6c757d;
}

.triangle-left::before{
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	z-index: 1;
	right: 100%;
	top: 0;
	bottom: 0;
	border-top: solid 18px transparent;
	border-bottom: solid 18px transparent;
}

.triangle-left-sm::before{
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	z-index: 1;
	right: 98%;
	top: 0;
	bottom: 0;
	border-top: solid 16px transparent;
	border-bottom: solid 16px transparent;
}

.triangle-left-xs::before{
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	z-index: 1;
	right: 100%;
	top: 0;
	bottom: 0;
	border-top: solid 13px transparent;
	border-bottom: solid 13px transparent;
}

.paginate_button.previous.disabled a{
	color: #fff !important;
	background-color: #6c757d !important;
}

.paginate_button.next.disabled a{
	color: #fff !important;
	background: rgb(225,127,54);
	background: linear-gradient(90deg, rgba(225,127,54,1) 0%, rgba(255,162,0,1) 100%);
}

.paginate_button a{
	color: black !important;
	background-color: red !important;
	border: none;
	border-radius: 20%;
}

.paginate_button.active a{
	color: black !important;
	text-decoration: underline;
	background-color: #F0F0F0 !important;
}

.arrow-before:not(.collapsed)::before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 1' fill='%233E3E3E'%3e%3cpath fill-rule='evenodd' d='M1.5 1L2.79904 0.25H0.200962L1.5 1Z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);

}
.arrow-before::before {
	flex-shrink: 0;
	width: 1rem;
	height: 1rem;
	/*margin-left: auto;*/
	content: "";
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 1' fill='%233E3E3E'%3e%3cpath fill-rule='evenodd' d='M1.5 1L2.79904 0.25H0.200962L1.5 1Z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 0.9rem;
	background-position: center;
	transition: transform 0.2s ease-in-out;
}

.custom-form-check-input:disabled{
	opacity: 1 !important;
}

.input-select:disabled {
	background-color: white !important;
}

.multiple-select .select-option li{
	list-style: none;
}

.select-option{
	background-color: white;
	position: absolute;
	z-index: 1;
	right: 0;
}

.overflow-y-scroll{
	overflow-y: hidden;
	overflow-x: hidden;
}

.select-option{
	display: none;
	max-height: 120px;
	overflow-y: scroll;
}

.select-option.active{
	display: block;
}

/*.table-custom> :not(caption) > * > * {
	padding: 0.5rem 0.1rem !important;
	margin: 0.1rem 0.1rem;
	background-color: var(--bs-table-bg);
	border-bottom-width: 0px;
	box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}*/

.table-custom thead >*{
	padding: 10rem 10rem !important;
}

.table-custom tbody > * >td{
	padding: 0.1rem 0.1rem !important;
}
@media (min-width: 992px) {

	.col-lg-3k5 {
		flex: 0 0 auto;
		width: 29%;
	}
}